.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.nav-item a:hover{
    color: #86C232!important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #222629;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: white;
}
.navbar-laravel{background-color:#222629;
}
.btn-primary {
    color: white;
    background-color: #222629;
    border-color: #222629;
}
.btn-primary:hover{
    color:#222629;
    background-color:#86C232;
    border-color:#86C232;
}
.btn-link {
    font-weight: 400;
    color: #86C232;
    background-color: transparent;
}
.btn-link:hover{
    font-weight: 400;
    color: #222629;
    background-color: transparent;
}

main {
    position: relative;
    height: 100vh;
}
main .helper {
    background: rgba(0, 0, 0, 0.2);
    color: #ffea92;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1.2em 2em;
    text-align: center;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
}
main .helper span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.4em;
    display: block;
}
.menu {
    background: #86C232;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
}
.menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;
}
.menu .avatar img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
}
.menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}
.menu ul li {
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight: regular;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}
.menu ul li.icon-dashboard {
    background-image: url("/images/ikon/users.svg");
}
.menu ul li.icon-customers {
    background-image: url("/images/ikon/key.svg");
}
.menu ul li.icon-users {
    background-image: url("/images/ikon/wrench.svg");
}
.menu ul li.icon-gyor {
    background-image: url("/images/ikon/gyor.png");
}
.menu ul li.icon-fradi {
    background-image: url("/images/ikon/ftc.png");
}
.menu ul li.icon-veszprem {
    background-image: url("/images/ikon/veszpremlogo.png");
}
.menu ul li.icon-szeged {
    background-image: url("/images/ikon/picklogo.png");
}
.menu ul li.icon-sio {
    background-image: url("/images/ikon/logo.png");
}
.menu ul li.icon-order {
    background-image: url("/images/ikon/supermarket.svg");
}
.menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
    outline: none;
}
.navbar-brand{
    display: none;
}
.loginki{
    display: none;
}
.item p small{
    float: left;
}
a {
    color: white !important;
}
.navbar-toggler{
    float: right !important;
}
.navbar-nav .nav-link{
    float: right;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.btw{
    background-color: #222629;
}
.table tr .btw{
    background-color: #222629;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #86C232;
    background-color: #222629;
    border: 1px solid #222629;
}
.page-item.active .page-link {
    z-index: 1;
    color: #86C232;
    background-color: #222629;
    border-color: #222629;
}
.page-link:hover{
    background-color:#86C232;
    color:#222629;
}
.dropdown-menu{
    background: #222629;
}
.dropdown-menu a:hover{
    background: #222629;
}
.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:before,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:before,
label.btn input[type="radio"].with-gap:checked + label:after {
    border: 2px solid #4285f4; }

.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:after {
    background-color: #4285f4; }
@media screen and (max-width: 1100px) and (min-width: 400px) {
    body {
        padding-left: 90px;
    }
    .menu {
        width: 90px;
    }
    .menu .avatar {
        padding: 0.5em;
        position: relative;
    }
    .menu .avatar img {
        width: 60px;
    }
    .menu .avatar h2 {
        display: none;
    }
    .menu ul li {
        height: 60px;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
    }
    .menu ul li span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        top: 50%;
        left: 80px;
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu ul li span:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }
    .menu ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
    .navbar-brand{
        display: flex;
    }

}
@media(max-width: 768px) {
    .lenyilo{
        display: none;
    }
    .loginki{
        display: block;
    }
}
@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
    }
    .menu {
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }
    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: #86C232;
    }
    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
    }
    .menu:focus {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
    }
    .lenyilo{
        display: none;
    }
    .loginki{
        display: block;
    }
}
@media screen and (max-width: 375px) {
    .navbar-dark .navbar-toggler{
        display: block;
        margin-left: 300px;
    }
}
@media screen and (max-width: 320px) {
    .navbar-dark .navbar-toggler{
        display: block;
        margin-left: 240px;
    }
}

