@media (min-width: 1200px){
.container{
    max-width: 80%!important;
    display: block !important;
    padding-left: 100px !important;
}
}
.body{
    color: #222629;
}
/*-------------CSAPATOK---------------*/
.alma{
    font-weight: bold;
}
.content a:hover{
    color: #86C232 !important;
}
.bevezeto h1{
    font-size: 60px;
    margin-right: auto;
    line-height: 100px;
    width: 100%;
}
.bevezeto{
    border-bottom: 3px solid #1a1a1a;
}
#logo{
    height: 100px;
    width: 100px;
    float: right;
}
#logo2{
    height: 100px;
    width: 100px;
    float: right;
}
.szakmaistab p{
    font-size: 25px;
    margin-left: -10px;
}
.szakmaistab h1{
    font-size: 50px;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
    margin-left: -10px;
    margin-right: -30px;
}
.sikerek p{
    font-size: 25px;
}
.sikerek{
    float: right;
    text-align: right;
    width: 100%;
}
.sikerek h1{
    font-size: 50px;
    margin-right: auto;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
}
.altinfo h1{
    margin-left: -10px;
    font-size: 50px;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
}
.altinfo p{
    margin-left: -10px;
    font-size: 25px;
}
.altinfo{
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}
.content a{
    color:#1a1a1a;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card{
    cursor: pointer;
    width: 300px;
    height: 360px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
    width: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;

}
.sm{
    margin: 20px 0;
    text-align: left;
    padding-left: 40px;
}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
.content h3{
    text-align: center;
    margin-top: 65px;
    height: 60px;
}
.content img{
    box-shadow: 10px 10px 5px gray;
    background: #BFB9BD;
}
@media (max-width: 1920px){
    .card{
        cursor: pointer;
        width: 250px;
        height: 340px;
    }
}
@media (max-width: 1440px){
    .card{
        cursor: pointer;
        width: 200px;
        height: 250px;
    }
    .sikerek{
        float: left;
        text-align: left;
    }
    .szakmaistab h1{
        font-size: 50px;
        line-height: 100px;
        border-bottom: 3px solid #1a1a1a;
        margin-left: -10px;
    }
    .content h3{
        font-size: 1.4rem;
    }
}
@media (max-width: 768px){
    .card{
        cursor: pointer;
        width: 300px;
        height: 360px;
    }
    #logo2{
        display: none;
    }
    .content h3{
        font-size: 1.75rem;
    }
}
@media (max-width: 425px){
    #logo{
        display: none;
    }
    .content-details p {
        color: #fff;
        font-size: 0.8em;
        margin-left: 10px;
    }
    .content h3{
        font-size: 1.75rem;
    }
    .bevezeto h1{
        font-size: 45px;
        margin-bottom: -25px;
    }
    .szakmaistab h1{
        font-size: 45px;
        margin-right: 0;
    }
    .szakmaistab p{
        font-size: 23px;
    }
    .sikerek h1{
        font-size: 45px;
    }
    .sikerek p{
        font-size: 23px;
    }
    .altinfo h1{
        font-size: 45px;
    }
    .altinfo p{
        font-size: 23px;
    }
}
@media (max-width: 375px){
    #logo{
        display: none;
    }
    .content-details p {
        color: #fff;
        font-size: 0.8em;
        margin-left: 10px;
    }
    .content h3{
        font-size: 1.75rem;
    }
    .bevezeto h1{
        font-size: 45px;
    }
    .szakmaistab h1{
        font-size: 40px;
        margin-right: 0;
    }
    .szakmaistab p{
        font-size: 23px;
    }
    .sikerek h1{
        font-size: 40px;
    }
    .sikerek p{
        font-size: 23px;
    }
    .altinfo h1{
        font-size: 40px;
    }
    .altinfo p{
        font-size: 23px;
    }
}@media (max-width: 375px){

    .bevezeto h1{
        font-size: 45px;
    }
    .szakmaistab h1{
        font-size: 33px;
        margin-right: 0;
    }
    .szakmaistab p{
        font-size: 20px;
    }
    .sikerek h1{
        font-size: 33px;
    }
    .sikerek p{
        font-size: 20px;
    }
    .altinfo h1{
        font-size: 33px;
    }
    .altinfo p{
        font-size: 20px;
    }
}
/*-------------CSAPATOK MODAL---------------*/

.modal-title{
    font-size: 30px;
}


/*-------------FOOTER---------------*/

.footer-distributed{
    background-color: #222629;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left p{
    color:  #6B6E70;
    font-size: 14px;
    margin: 0;
}
.footer-distributed .footer-right a:hover{
    color: #86C232;
}
.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  snow;
    margin: 0 0 10px;
    padding: 0;
}
.footer-distributed p.footer-links a:hover{
    color: #86C232;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}
@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}
.tabellalogo{
    height: 25px;
    width: 25px;
}
.logotabella{
    float: right;
    height: 50px;
    width: 50px;
}
/*-------------INDEX---------------*/


.sectionegy {
    background: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-right: auto;
}
.sectionegy .all .dolgaink {
    text-align: center;
    padding-bottom: 25px;
}
.sectionegy .all .dolgaink i {
    font-size: 48px;
    color: #86C232;
    padding-bottom: 35px;
}
.sectionegy .all .dolgaink h4 {
    color: #222629;
    padding-bottom: 20px;
}
.sectionegy .all .dolgaink p {
    color: #474B4F;
}
.informacio p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
}







.banner_area{
    background-position: center;
    text-align: center;
    position: relative;
    z-index: -1;
    padding-bottom: 70px;
}
.banner_area:after {
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}
.banner_area h2 {
    color: #fff;
    font: 400 40px "Oswald", sans-serif;
    text-transform: uppercase;
    padding-top: 85px;
}
.banner_area .breadcrumb {
    background-color: transparent;
    padding-top: 15px;
}
.banner_area .breadcrumb li a {
    font: 400 14px "Roboto", sans-serif;
    color: #fefefe;
}
.banner_area .breadcrumb li a.active {
    color: #FF8000;
}
.banner_area h2 {
    color: #fff;
    font: 400 40px "Oswald", sans-serif;
    text-transform: uppercase;
    padding-top: 85px;
}

nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #86C232 ;
}
section .tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border-top:7px solid #86C232;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #86C232;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.kupakep{
    overflow: hidden;
    text-align: center;
    padding-left: 5px;
}
.kupakep img{
    width: 150px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
    display: grid;
}
.kupakep img:hover{
    opacity: 0.8;
}
.pre{
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.pre img{
    width: 100%;
    height: 100%;
}
@media (max-width: 1440px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: inline;
    }
    .pre img{
        padding-bottom: 10px;
    }
}
@media (max-width: 1400px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: inline;
    }

}
@media (max-width: 1024px) {

    .pre img{
        padding-bottom: 10px;
    }

}
@media (max-width: 900px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: flow;
    }
}
@media (max-width: 400px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: flow;
    }

    .pre{
        width: 300px;
        height: 200px;
        overflow: hidden;
        position: relative;
        margin: auto;
    }
}
@media  (max-width: 375px){
    .kupakep img{
        width: 100px;
        height: 50px;
        margin: 5px;
        cursor: pointer;
        transition: 0.4s;
        display: flow;
    }

}
#fel {
    display: inline-block;
    background-color: #86C232;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#fel::after {
    font-family: "Font Awesome 5 Free";
    content: "\f077" !important;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#fel:hover {
    cursor: pointer;
    background-color: #333;
}
#fel:active {
    background-color: #222222;
}
#fel.show {
    opacity: 1;
    visibility: visible;
}
@media (min-width: 500px) {
    #fel {
        margin: 30px;
    }
}
header label{
    margin-bottom: 0 !important;
}

.toggle, [id^=drop] {
    display: none;
}
header nav {
    padding-right: 50px;
    padding-left: 50px;
    background-color: #222629;
}
header nav a{
    color: white !important;
}

.logo_area{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -90px;
}
.logo_area img{
    width: 140px;
    height: 140px;
    position: absolute;

}
.home{
    display: none;
}

header nav:after {
    content: "";
    display: table;
    clear: both;
}

header nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
header nav li:nth-child(7){
     float: right;
 }
header nav li:nth-child(8){
    float: right;
}
header nav li:nth-child(9){
    float: right;
}
header nav li:nth-child(10){
    float: right;
}



header nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #222629;
}

header nav a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

header nav ul li ul li:hover { background: #86C232; }

header nav a:hover { background-color: #86C232; }

header nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

header nav ul li:hover > ul { display: inherit; }

header nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

header nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}



header li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */
@media (max-width: 1440px) {
    .logo_area{
        display: none;
    }
    header nav li:nth-child(7){
        float: right;
    }
    header nav li:nth-child(8){
        float: right;
    }
    header nav li:nth-child(9){
        float: right;
    }
    header nav li:nth-child(5){
        float: right;
    }
    header nav li:nth-child(10){
        float: left;
    }
}
@media all and (max-width : 1000px) {

    .logo_area{
        display: none;
    }
    .home{
        display: flex;
    }
    .home a{
        width: 100%;
    }

    header nav {
        padding: 0;
    }

    .toggle + a,
    .menu { display: none; }

    .toggle {
        display: block;
        background-color: #222629;
        padding: 0 20px;
        color: #FFF;
        font-size: 22px;
        font-weight:bold;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul .toggle,
    header nav ul ul a { padding: 0 40px; }

    headernav ul ul ul a { padding: 0 80px; }

    header nav a:hover,
    header nav ul ul ul a { background-color: #86C232; }

    header nav ul li ul li .toggle,
    header nav ul ul a { background-color: #86C232; }

    header nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    header nav ul ul li:hover > ul,
    header nav ul li:hover > ul { display: none; }

    header  nav ul ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul ul li { position: static;

    }
}

@media all and (max-width : 330px) {

    .home{
        display: flex;
    }

    header nav ul li {
        display: block;
        width: 94%;
    }
    header nav {
        padding: 0;
    }
    .logo_area{
        display: none;
    }

}
@media all and (max-width : 400px) {

    .home{
        display: flex;
    }
    header nav {
        padding: 0;
    }

    .logo_area{
        display: none;
    }

    header nav { margin: 0; }

    .toggle + a,
    .menu { display: none; }

    .toggle {
        display: block;
        background-color: #222629;
        padding: 0 20px;
        color: #FFF;
        font-size: 22px;
        font-weight:bold;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul .toggle,
    header nav ul ul a { padding: 0 40px; }

    header nav ul ul ul a { padding: 0 80px; }

    header nav a:hover,
    header nav ul ul ul a { background-color: #86C232; }

    header nav ul li ul li .toggle,
    header  nav ul ul a { background-color: #212121; }

    header  nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    header nav ul ul li:hover > ul,
    header nav ul li:hover > ul { display: none; }

    header nav ul ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul ul li { position: static;

    }
}

/*-------------HIREK---------------*/
.item{
    padding: 40px;
}
.item img{
    width: 100%;
}
.item p small{
    float: right;
}
.item a{
    color: black;
}
.modal-header a{
    color: black;
}
.hirszoveg p{
    font-size: 20px;
}
.hirszoveg img{
    height: 100%;
    width: 100%;
}
.item h3{
    text-align: justify;
}
.modal-footer>:not(:first-child) {
    margin-left: .25rem;
    float: right;
}
.modal-header a:hover{
    color: #86C232;
}
@media(max-width: 1440px) {
    .item {
        padding-top: 20px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .item h3 {
        font-size: 20px;
        text-align: center;
    }

    .modal-header a {
        font-size: 25px;
    }
}
/*-------------LOGIN---------------*/

.login a {
    text-decoration: none;
    color: #86C232;
    transition: 0.5s ease;
}
.login a:hover {
    color: #86C232;
}

.login .form {
    background: #272e38;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;

}

.login .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.login .tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.login .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.login .tab-group li a:hover {
    background: #86C232;
    color: #ffffff;
}
.login .tab-group .active a {
    background: #86C232;
    color: #ffffff;
}

.login .tab-content > div:last-child {
    display: none;
}

.login h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

.login label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
.login label .req {
    margin: 2px;
    color: #86C232;
}

.login label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
.login label.active .req {
    opacity: 0;
}

.login label.highlight {
    color: #ffffff;
}

.login input,
.login textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.login input:focus,
.login textarea:focus {
    outline: 0;
    border-color: #86C232;
}

.login textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.login .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.login .top-row:after {
    content: "";
    display: table;
    clear: both;
}
.login .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.login .top-row > div:last-child {
    margin: 0;
}

.login .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #86C232;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.login .button:hover, .button:focus {
    background: #86C232;
}

.login .button-block {
    display: block;
    width: 100%;
}

.login .forgot {
    margin-top: -20px;
    text-align: right;
}
@media (max-width: 375px){
    .login .button {
        font-weight: 600;
        font-size: 1.3rem;
    }
    .login .tab-group li a {
        font-size: 15px;
    }
}
/*-------------Index---------------*/

@media (min-width: 1200px){
    .container{
        max-width: 80%!important;
        display: block !important;
        padding-left: 100px !important;
    }
}
.body{
    color: #222629;
}
/*-------------CSAPATOK---------------*/
.alma{
    font-weight: bold;
}
.content a:hover{
    color: #86C232 !important;
}
.bevezeto h1{
    font-size: 60px;
    margin-right: auto;
    line-height: 100px;
    width: 100%;
}
.bevezeto{
    border-bottom: 3px solid #1a1a1a;
}
#logo{
    height: 100px;
    width: 100px;
    float: right;
}
#logo2{
    height: 100px;
    width: 100px;
    float: right;
}
.szakmaistab p{
    font-size: 25px;
    margin-left: -10px;
}
.szakmaistab h1{
    font-size: 50px;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
    margin-left: -10px;
    margin-right: -30px;
}
.sikerek p{
    font-size: 25px;
}
.sikerek{
    float: right;
    text-align: right;
    width: 100%;
}
.sikerek h1{
    font-size: 50px;
    margin-right: auto;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
}
.altinfo h1{
    margin-left: -10px;
    font-size: 50px;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
}
.altinfo p{
    margin-left: -10px;
    font-size: 25px;
}
.altinfo{
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}
.content a{
    color:#1a1a1a;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card{
    cursor: pointer;
    width: 300px;
    height: 360px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
    width: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;

}
.sm{
    margin: 20px 0;
    text-align: left;
    padding-left: 40px;
}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
.content h3{
    text-align: center;
    margin-top: 65px;
    height: 60px;
}
.content img{
    box-shadow: 10px 10px 5px gray;
    background: #BFB9BD;
}
@media (max-width: 1920px){
    .card{
        cursor: pointer;
        width: 250px;
        height: 340px;
    }
}
@media (max-width: 1440px){
    .card{
        cursor: pointer;
        width: 200px;
        height: 250px;
    }
    .sikerek{
        float: left;
        text-align: left;
    }
    .szakmaistab h1{
        font-size: 50px;
        line-height: 100px;
        border-bottom: 3px solid #1a1a1a;
        margin-left: -10px;
    }
    .content h3{
        font-size: 1.4rem;
    }
}
@media (max-width: 768px){
    .card{
        cursor: pointer;
        width: 300px;
        height: 360px;
    }
    #logo2{
        display: none;
    }
    .content h3{
        font-size: 1.75rem;
    }
}
@media (max-width: 425px){
    #logo{
        display: none;
    }
    .content-details p {
        color: #fff;
        font-size: 0.8em;
        margin-left: 10px;
    }
    .content h3{
        font-size: 1.75rem;
    }
    .bevezeto h1{
        font-size: 45px;
        margin-bottom: -25px;
    }
    .szakmaistab h1{
        font-size: 45px;
        margin-right: 0;
    }
    .szakmaistab p{
        font-size: 23px;
    }
    .sikerek h1{
        font-size: 45px;
    }
    .sikerek p{
        font-size: 23px;
    }
    .altinfo h1{
        font-size: 45px;
    }
    .altinfo p{
        font-size: 23px;
    }
}
@media (max-width: 375px){
    #logo{
        display: none;
    }
    .content-details p {
        color: #fff;
        font-size: 0.8em;
        margin-left: 10px;
    }
    .content h3{
        font-size: 1.75rem;
    }
    .bevezeto h1{
        font-size: 45px;
    }
    .szakmaistab h1{
        font-size: 40px;
        margin-right: 0;
    }
    .szakmaistab p{
        font-size: 23px;
    }
    .sikerek h1{
        font-size: 40px;
    }
    .sikerek p{
        font-size: 23px;
    }
    .altinfo h1{
        font-size: 40px;
    }
    .altinfo p{
        font-size: 23px;
    }
}@media (max-width: 375px){

    .bevezeto h1{
        font-size: 45px;
    }
    .szakmaistab h1{
        font-size: 33px;
        margin-right: 0;
    }
    .szakmaistab p{
        font-size: 20px;
    }
    .sikerek h1{
        font-size: 33px;
    }
    .sikerek p{
        font-size: 20px;
    }
    .altinfo h1{
        font-size: 33px;
    }
    .altinfo p{
        font-size: 20px;
    }
}
/*-------------CSAPATOK MODAL---------------*/

.modal-title{
    font-size: 30px;
}


/*-------------FOOTER---------------*/

.footer-distributed{
    background-color: #222629;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left p{
    color:  #6B6E70;
    font-size: 14px;
    margin: 0;
}
.footer-distributed .footer-right a:hover{
    color: #86C232;
}
.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  snow;
    margin: 0 0 10px;
    padding: 0;
}
.footer-distributed p.footer-links a:hover{
    color: #86C232;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}
@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}
/*-------------TABELLA---------------*/
.tabellalogo{
    height: 25px;
    width: 25px;
}
.logotabella{
    float: right;
    height: 50px;
    width: 50px;
}
/*-------------BANNER---------------*/
.banner_area{
    background-position: center;
    text-align: center;
    position: relative;
    z-index: -1;
    padding-bottom: 70px;
}
.banner_area:after {
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}
.banner_area h2 {
    color: #fff;
    font: 400 40px "Oswald", sans-serif;
    text-transform: uppercase;
    padding-top: 85px;
}
.banner_area .breadcrumb {
    background-color: transparent;
    padding-top: 15px;
}
.banner_area .breadcrumb li a {
    font: 400 14px "Roboto", sans-serif;
    color: #fefefe;
}
.banner_area .breadcrumb li a.active {
    color: #FF8000;
}
.banner_area h2 {
    color: #fff;
    font: 400 40px "Oswald", sans-serif;
    text-transform: uppercase;
    padding-top: 85px;
}
/*-------------KUPATAB---------------*/
nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #86C232 ;
}
section .tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border-top:7px solid #86C232;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #86C232;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.kupakep{
    overflow: hidden;
    text-align: center;
    padding-left: 5px;
}
.kupakep img{
    width: 150px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
    display: grid;
}
.kupakep img:hover{
    opacity: 0.8;
}
.pre{
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.pre img{
    width: 100%;
    height: 100%;
}
@media (max-width: 2040px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: grid;
    }
    .pre{
        width: 500px;
        height: 400px;
        overflow: hidden;
        position: relative;
        margin: auto;
    }

}
@media (max-width: 1440px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: inline;
    }
    .pre img{
        padding-bottom: 10px;
    }
}
@media (max-width: 1400px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: inline;
    }

}
@media (max-width: 1024px) {

    .pre img{
        padding-bottom: 10px;
    }

}
@media (max-width: 900px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: flow;
    }
}
@media (max-width: 400px) {
    .kupakep img{
        width: 150px;
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
        display: flow;
    }

    .pre{
        width: 300px;
        height: 200px;
        overflow: hidden;
        position: relative;
        margin: auto;
    }
}
@media  (max-width: 375px){
    .kupakep img{
        width: 100px;
        height: 50px;
        margin: 5px;
        cursor: pointer;
        transition: 0.4s;
        display: flow;
    }

}
#fel {
    display: inline-block;
    background-color: #86C232;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#fel::after {
    font-family: "Font Awesome 5 Free";
    content: "\f077" !important;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#fel:hover {
    cursor: pointer;
    background-color: #333;
}
#fel:active {
    background-color: #222222;
}
#fel.show {
    opacity: 1;
    visibility: visible;
}
@media (min-width: 500px) {
    #fel {
        margin: 30px;
    }
}
/*-------------MENU---------------*/
header label{
    margin-bottom: 0 !important;
}

.toggle, [id^=drop] {
    display: none;
}
header nav {
    padding-right: 50px;
    padding-left: 50px;
    background-color: #222629;
}
header nav a{
    color: white !important;
}

.logo_area{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -90px;
}
.logo_area img{
    width: 140px;
    height: 140px;
    position: absolute;

}
.home{
    display: none;
}

header nav:after {
    content: "";
    display: table;
    clear: both;
}

header nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
header nav li:nth-child(7){
    float: right;
}
header nav li:nth-child(8){
    float: right;
}
header nav li:nth-child(9){
    float: right;
}
header nav li:nth-child(10){
    float: right;
}



header nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #222629;
}

header nav a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

header nav ul li ul li:hover { background: #86C232; }

header nav a:hover { background-color: #86C232; }

header nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

header nav ul li:hover > ul { display: inherit; }

header nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

header nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}



header li > a:only-child:after { content: ''; }

@media (max-width: 1440px) {
    .logo_area{
        display: none;
    }
    header nav li:nth-child(7){
        float: right;
    }
    header nav li:nth-child(8){
        float: right;
    }
    header nav li:nth-child(9){
        float: right;
    }
    header nav li:nth-child(5){
        float: right;
    }
    header nav li:nth-child(10){
        float: left;
    }
}
@media all and (max-width : 1000px) {

    .logo_area{
        display: none;
    }
    .home{
        display: flex;
    }
    .home a{
        width: 100%;
    }

    header nav {
        padding: 0;
    }

    .toggle + a,
    .menu { display: none; }

    .toggle {
        display: block;
        background-color: #222629;
        padding: 0 20px;
        color: #FFF;
        font-size: 22px;
        font-weight:bold;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul .toggle,
    header nav ul ul a { padding: 0 40px; }

    headernav ul ul ul a { padding: 0 80px; }

    header nav a:hover,
    header nav ul ul ul a { background-color: #86C232; }

    header nav ul li ul li .toggle,
    header nav ul ul a { background-color: #86C232; }

    header nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    header nav ul ul li:hover > ul,
    header nav ul li:hover > ul { display: none; }

    header  nav ul ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul ul li { position: static;

    }
}

@media all and (max-width : 330px) {

    .home{
        display: flex;
    }

    header nav ul li {
        display: block;
        width: 94%;
    }
    header nav {
        padding: 0;
    }
    .logo_area{
        display: none;
    }

}
@media all and (max-width : 400px) {

    .home{
        display: flex;
    }
    header nav {
        padding: 0;
    }

    .logo_area{
        display: none;
    }

    header nav { margin: 0; }

    .toggle + a,
    .menu { display: none; }

    .toggle {
        display: block;
        background-color: #222629;
        padding: 0 20px;
        color: #FFF;
        font-size: 22px;
        font-weight:bold;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul .toggle,
    header nav ul ul a { padding: 0 40px; }

    header nav ul ul ul a { padding: 0 80px; }

    header nav a:hover,
    header nav ul ul ul a { background-color: #86C232; }

    header nav ul li ul li .toggle,
    header  nav ul ul a { background-color: #212121; }

    header  nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    header nav ul ul li:hover > ul,
    header nav ul li:hover > ul { display: none; }

    header nav ul ul li {
        display: block;
        width: 100%;
    }

    header nav ul ul ul li { position: static;

    }
}

/*-------------HIREK---------------*/
.item{
    padding: 40px;
}
.item img{
    width: 100%;
}
.item p small{
    float: right;
}
.item a{
    color: black;
}
.modal-header a{
    color: black;
}
.hirszoveg p{
    font-size: 20px;
}
.hirszoveg img{
    height: 100%;
    width: 100%;
}
.item h3{
    text-align: justify;
}
.modal-footer>:not(:first-child) {
    margin-left: .25rem;
    float: right;
}
.modal-header a:hover{
    color: #86C232;
}
@media(max-width: 1440px) {
    .item {
        padding-top: 20px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .item h3 {
        font-size: 20px;
        text-align: center;
    }

    .modal-header a {
        font-size: 25px;
    }
}
/*-------------LOGIN---------------*/

.login a {
    text-decoration: none;
    color: #86C232;
    transition: 0.5s ease;
}
.login a:hover {
    color: #86C232;
}

.login .form {
    background: #272e38;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;

}

.login .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.login .tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.login .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.login .tab-group li a:hover {
    background: #86C232;
    color: #ffffff;
}
.login .tab-group .active a {
    background: #86C232;
    color: #ffffff;
}

.login .tab-content > div:last-child {
    display: none;
}

.login h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

.login label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
.login label .req {
    margin: 2px;
    color: #86C232;
}

.login label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
.login label.active .req {
    opacity: 0;
}

.login label.highlight {
    color: #ffffff;
}

.login input,
.login textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.login input:focus,
.login textarea:focus {
    outline: 0;
    border-color: #86C232;
}

.login textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.login .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.login .top-row:after {
    content: "";
    display: table;
    clear: both;
}
.login .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.login .top-row > div:last-child {
    margin: 0;
}

.login .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #86C232;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.login .button:hover, .button:focus {
    background: #86C232;
}

.login .button-block {
    display: block;
    width: 100%;
}

.login .forgot {
    margin-top: -20px;
    text-align: right;
}
@media (max-width: 375px){
    .login .button {
        font-weight: 600;
        font-size: 1.3rem;
    }
    .login .tab-group li a {
        font-size: 15px;
    }
}
/*-------------Index---------------*/
.indexelsosection {
    background: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 50px;
}
.indexelsosection .indexsection .indexikonok {
    text-align: center;
    padding-bottom: 25px;
}
.indexelsosection .indexsection .indexikonok i {
    font-size: 48px;
    color: #86C232;
    padding-bottom: 35px;
}
.indexelsosection .indexsection .indexikonok h4 {
    font: 700 18px "Roboto", sans-serif;
    color: #222222;
    padding-bottom: 20px;
}
.indexelsosection .indexsection .indexikonok p {
    font: 400 14px/26px "Roboto", sans-serif;
    color: #555555;
}
.titlehirek h2{
    position: relative;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
.titlehirek h2:after {
    content: "";
    position: absolute;
    background: #86C232;
    height: 5px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.sectionketto .titleshop h2{
    position: relative;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
.titleshop h2:after {
    content: "";
    position: absolute;
    background: #86C232;
    height: 5px;
    width: 190px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.sectionketto {
    padding-bottom: 90px;
    background: #f5f5f5;
    margin-bottom: -70px;
}
.sectionketto .feature_row {
    padding-top: 70px;
}
.sectionketto .feature_row .feature_img {
    padding-top: 10px;
}
.sectionketto .feature_row .feature_img img {
    max-width: 100%;
}
.sectionketto .feature_row .sectionketto_content .subtittle {
    padding-bottom: 40px;
}
.sectionketto .feature_row .sectionketto_content .media {
    padding-bottom: 15px;
}
.sectionketto .feature_row .sectionketto_content .media .media-left {
    padding-right: 30px;
}
.sectionketto .feature_row .sectionketto_content .media .media-left a i {
    font-size: 24px;
    color: #86C232;
    line-height: 50px;
    width: 60px;
    text-align: center;
    background: #333333;
    border: 5px solid #86C232;
}
.sectionketto .feature_row .sectionketto_content .media .media-body a {
    font: 700 18px "Roboto", sans-serif;
    color: #222222;
    text-transform: uppercase;
}
.sectionketto .feature_row .sectionketto_content .media .media-body a:hover, .sectionketto .feature_row .sectionketto_content .media .media-body a:focus {
    color: #86C232;
}
.sectionketto .feature_row .sectionketto_content .media .media-body p {
    font: 400 14px/26px "Roboto", sans-serif;
    color: #555555;
    padding-top: 20px;
}
@media (max-width:1440px){
    .sectionketto .feature_row .feature_img img{
        height: 500px;
    }
}

@media (max-width:1024px){
    .sectionketto .feature_row .feature_img img{
        height: 500px;
    }
}
@media (max-width:768px){
    .sectionketto .feature_row{
        padding-top: 20px;
    }
    .sectionketto .feature_row .feature_img{
        padding-bottom: 30px;
    }

}
@media (max-width:425px){
    .sectionketto .feature_row .feature_img img{
        height: 400px;
    }
}
@media (max-width:425px){
    .sectionketto .feature_row .feature_img img{
        height: 300px;
    }
}

/*-------------shop---------------*/

.shop .navbar{
    background-color: #222629 !important;
}
.shop .navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
    align-items: center;
    color: white;
}
.shop .navbar-dark .navbar-nav .nav-link:hover{
    color: #86C232;
}
@media (max-width:768px){
    .navbutyok{
        margin-left: 390px; !important;
    }
}
@media (max-width:425px){
    .navbutyok{
        margin-left: 50px; !important;
    }
}
@media (max-width:375px){
    .navbutyok{
        margin-left: 0px; !important;
    }
}
@media (max-width:320px){
    .nava {
        font-size: 20px !important;
    }
    .navbutyok{
        margin-left: 20px;
    }

}

.list-group-item{
    border: none !important;
}
.list-group{
    font-size: 22px;
}
.list-group a{
    color: #222629;
}
.list-group a:hover{
    color: #86C232;
}
.might-like-section {
    padding: 40px 0 70px;
    background: #F5F5F5;
}
.might-like-grid a{
    color: #222629;
    text-decoration: none;
}
.might-like-grid a:hover{
    color: #86C232;
    text-decoration: none;
}

.might-like-section h2 {
    padding-bottom: 30px;
}

.might-like-section .might-like-grid {
    display: grid;

}

.might-like-section .might-like-product {
    border: 1px solid #979797;
    background: white;
    padding: 0 0 20px;
    text-align: center;
}

.might-like-section .might-like-product img {
    width: 70%;
}

.might-like-section .might-like-product-price {
    color: #222629;
}
@media (max-width:1024px){
    .might-like-section .might-like-grid {
        padding-bottom: 20px;

    }
}
@media (max-width:425px){
    .shopkepek{
        margin: 40px;
    }

}
@media (max-width:375px){
    .shopkepek{
        margin: 20px;
    }

}
@media (max-width:320px){
    .shopkepek{
        margin: 0px;
    }

}
.product-section {
    display: grid;
    padding: 100px 0 120px;
}

.product-section .selected {
    border: 1px solid #979797;
}
.product-section-thumbnail {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    min-height: 66px;
    cursor: pointer;
}

.product-section-thumbnail:hover {
    border: 1px solid #979797;
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #979797;
    text-align: center;
    height: 100%;
}
.product-section-image img {
    max-height: 100%;
}

.product-section-image img.active {
    opacity: 1;
}

.product-section-information p {
    margin-bottom: 16px;
}

.product-section-title {
    margin-bottom: 0;
}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #919191;
}

.product-section-price {
    font-size: 38px;
    color: #212121;
    margin-bottom: 16px;
}
.product-section .button {
    border: 1px solid #222629;
    padding: 12px 40px;
}

.product-section .button:hover {
    color: #86C232;
    background: #222629;
}
.product-section .button-plain {
    border: 1px solid #222629 !important;
    background: transparent;
}
.form-group .resetbutton{
    background-color: #86C232;
    border-color: #86C232;
    color: #222629;
    font-weight: normal;
}
.form-group .resetbutton:hover{
    background-color: #222629;
    border-color: #222629;
    color: #86C232;
    font-weight: normal;
}


.card-title a{
     color: #222629!important;
}
.card-title a:hover{
    color: #86C232!important;
}
.cart-section {
    display: grid;

    margin: 60px auto;
}

.cart-section h2 {
    margin-bottom: 30px;
}

.cart-section .cart-table-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #919191;
    padding: 14px 0;
}

.cart-section .cart-table-row:last-child {
    border-bottom: 1px solid #919191;
}

.cart-section .cart-table-row .cart-table-row-left,
.cart-section .cart-table-row .cart-table-row-right {
    display: flex;
    justify-content: space-between;
}

.cart-section .cart-table-row .cart-table-row-left {
    width: 50%;
}

.cart-section .cart-table-row .cart-table-row-right {
    width: 33%;
    padding-top: 10px;
}

.cart-section .cart-table-row .cart-table-img {
    max-height: 75px;
}

.cart-section .cart-table-row .cart-table-actions {
    text-align: right;
    font-size: 14px;
}

.cart-section .cart-table-row .cart-item-details {
    padding-top: 5px;
}

.cart-section .cart-table-row .cart-table-description {
    color: #919191;
}

.cart-section .cart-table-row .cart-options {
    color: #212121;
    background: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
}

.cart-section .cart-table-row .cart-options:hover {
    color: #6e6e6e;
}

.cart-section .cart-totals {
    margin: 30px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
}

.cart-section .cart-totals .cart-totals-left {
    width: 50%;
}

.cart-section .cart-totals .cart-totals-right {
    display: flex;
    justify-content: space-between;
    width: 35%;
    text-align: right;
}


.cart-section .cart-totals .cart-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2;
}

.cart-section .cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cart-section .have-code {
    display: block;
    margin: 14px 0;
    text-align: right;
}

.cart-section .have-code-container {
    border: 1px solid #919191;
    padding: 16px;
    width: 50%;
    margin-left: auto;
}

.cart-section .have-code-container form {
    display: flex;
    justify-content: space-between;
}

.cart-section .have-code-container input[type=text] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

.cart-section .have-code-container input[type=submit] {
    background: white;
    border: 1px solid #919191;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cart-section .have-code-container input[type=submit]:hover {
    background: #212121;
}
.cart-count {
    display: inline-block;
    background: #86C232;
    color: #212121;
    line-height: 0;
    border-radius: 50%;
    font-size: 14px;
}

.cart-count span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.cart-buttons .button-white {
    border: 1px solid #e9e9e9;
    color: #e9e9e9 !important;
}

.cart-buttons .button-white:hover {
    color: #212121 !important;
    background: #e9e9e9;
}

.cart-buttons .button-primary {
    background: #86C232;
    color: white !important;
    padding: 12px 40px;
}

.cart-buttons .button-primary:hover {
    background: #212121;
    color: #86C232 !important;
    text-decoration: none;
}

.cart-buttons .button-primary:disabled {
    background: #63cdb7;
    cursor: not-allowed;
}
.cart-buttons .button {
    padding: 12px 40px;
    background: #212121;
    color: white;
}

.cart-buttons .button:hover {
    color: #212121;
    background: #86C232 !important;
    text-decoration: none;
}
.cart-table-actions form button[type=submit] {
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.6;
}
.cart-item-item{
    justify-content: left;
}
.cart-table-item a{
    color: #222629;
}
.cart-table-item a:hover{
    color: #86C232;
}

@media (max-width:425px){
    .cart-table-description{
       display: none;
    }
    .cart-section .cart-table-row .cart-table-row-right {
        width: 33%;
        padding-top: 14px;
        display: contents;
    }
    .cart-item-details{
        padding-left: 10px;
    }
    .cart-section .cart-totals .cart-totals-right{
        display: block;
    }

}
@media (max-width:320px){
    .cart-buttons .button {
        padding: 6px 10px;
        background: #212121;
        color: white;
    }
    .cart-buttons .button-primary {
        background: #86C232;
        color: white !important;
        padding: 12px 40px;
    }
    .cart-section .cart-table-row .cart-table-row-right {
        width: 33%;
        padding-top: 14px;
        display: grid;
    }
    .cart-section .cart-table-row .cart-table-actions {
        display: flex;
    }
}
.checkout-section {
    display: grid;
    margin: 40px auto 80px;
}

.checkout-section .checkout-table-container {
    margin-left: 124px;
}

.checkout-section h2 {
    margin-bottom: 28px;
}

.checkout-section .checkout-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #919191;
    padding: 14px 0;
}

.checkout-section .checkout-table-row:last-child {
    border-bottom: 1px solid #919191;
}

.checkout-section .checkout-table-row .checkout-table-row-left,
.checkout-section .checkout-table-row .checkout-table-row-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-section .checkout-table-row .checkout-table-row-left {
    width: 75%;
}

.checkout-section .checkout-table-row .checkout-table-img {
    max-height: 60px;
}

.checkout-section .checkout-table-row .checkout-table-description {
    color: #919191;
}

.checkout-section .checkout-table-row .checkout-table-price {
    padding-top: 6px;
}

.checkout-section .checkout-table-row .checkout-table-quantity {
    border: 1px solid #919191;
    padding: 4px 12px;
    margin-right: 5px;
}

.checkout-section .checkout-totals {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #919191;
    padding: 18px 0;
    line-height: 2;
}

.checkout-section .checkout-totals .checkout-totals-right {
    text-align: right;
}

.checkout-section .checkout-totals .checkout-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2.2;
}
.checkout-section .button-primary {
    width: 100%;
    background: #86C232;
    color: white !important;
    padding: 12px 40px;
}

.checkout-section .button-primary:hover {
    background: #212121;
    color: #86C232 !important;
    text-decoration: none;
}

.checkout-section .button-primary:disabled {
    background: #63cdb7;
    cursor: not-allowed;
}
.StripeElement {
    background-color: white;
    padding: 16px 16px;
    border: 1px solid #ccc;

}

.StripeElement--focus {
// box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
#card-errors {
    color: #fa755a;
}


.wrapper-1{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.wrapper-2{
    padding :30px;
    text-align:center;
}
.contente h1{
    font-family: 'Kaushan Script', cursive;
    font-size:4em;
    letter-spacing:3px;
    color:#86C232 ;
    margin:0;
    margin-bottom:20px;
}
.wrapper-2 p{
    margin:0;
    font-size:1.3em;
    color:#aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
}
.go-home{
    color:#212121;
    background:#86C232;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    text-transform:capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}



.footer-like{
    margin-top: auto;
    background:floralwhite;
    padding:6px;
    text-align:center;
}
.footer-like p{
    margin:0;
    padding:4px;
    color:#212121;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
}
.footer-like p a{
    text-decoration:none;
    color:#212121;
    font-weight:600;
}
@media (max-width:425px){
    .wrapper-1{
        width:100%;
        height:45vh;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:360px){
    h1{
        font-size:4.5em;
    }
    .go-home{
        margin-bottom:20px;
    }
}

@media (min-width:600px){
    .contente{
        max-width:1000px;
        margin:0 auto;
    }
    .wrapper-1{
        height: initial;
        max-width:620px;
        margin:0 auto;
        margin-top:50px;
        box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
    }

}
#chatter.discussion #new_response {
    padding-left: 100px !important;
    padding-right: 15px !important;
}

@media (max-width: 425px) {
    .chatter_body{
        display: grid;
    }
    #chatter.discussion #new_response {
        padding-left: 200px !important;
    }
    #chatter.discussion #editor #tinymce_placeholder {
        top: 120px !important;
    }

}
@media (max-width: 375px) {
    #chatter.discussion #new_response {
        padding-left: 100px !important;
        display: inline;

    }
    #chatter.discussion #editor #tinymce_placeholder {
        top: 60px !important;
    }
    #chatter.discussion #new_response #new_discussion{
        margin-top: 50px !important;
        margin-left: 20px !important;
        width: 300px !important;
    }
    #chatter .btn{
        width: 150px !important;
    }


}

.tabella-bg{
    background-color: #EEEEEE;
}
.tabella-btn{
    background-color: #86C232!important;
}
.tabella-modal-eredmeny{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.tabella-modal-team{
    font-size: 20px;
    margin-bottom: 0;
}
.modal-time{
    color: #c6c6c6;
}
.modal-border{
    border-bottom: 1px solid #dee2e6 ;
}

.calendar {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}
.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #b0aead;
    background: #e9e5e3;
    margin-bottom: 10px;
}
.ui-datepicker{
    background-color: #c6c6c6;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #b0aead;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}
.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}
.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}
.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #b0aead;
    border-bottom: 2px solid #b0aead;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color: #86C232;
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #86C232;
    margin-bottom: 5px;
    font-size: 13px;
}
.ui-state-default {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 40px;
    font-size: 12px;
}
.ui-state-default:hover {
    background: rgba(0,0,0,0.02);
}
.ui-state-highlight {
    color: #8dd391;
}
.ui-state-active {
    color: #86C232;
}
.ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
}
.calendar-logo{
    font-size: 25px;
}








