@media (min-width: 1200px){
.container{
    max-width: 80%!important;
}
}
.body{
    color: #222629;
}
.headerkep img{
    position: relative;
    width: 1540px;
    margin-left: 230px;
    z-index: -1;
}
.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    padding:20px;
}
.content img{
    box-shadow: 10px 10px 5px gray;
    border-radius: 8px;
    background: #BFB9BD;
}
.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 79%;
    width: 65%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 15px;
}
.content:hover .content-overlay {
    opacity: 1;
}
.content-details {
    position: absolute;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    font-size: 20px;
}
.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.content-details p {
    color: #fff;
    font-size: 0.8em;
    margin-left: 20px;
}
.fadeIn-bottom {
    top: 80%;
}
.alma{
    font-weight: bold;
}
.content h3{
    text-align: left;
    margin-top: 10px;

}
.content a:hover{
    color: #86C232 !important;
}
.bevezeto h1{
    font-size: 60px;
    margin-right: auto;
    line-height: 100px;
}
.bevezeto{
    border-bottom: 3px solid #1a1a1a;
    margin-right: 115px;
}
#logo{
    height: 100px;
    width: 100px;
    float: right;
}
.szakmaistab p{
    font-size: 25px;
    margin-left: -10px;
}
.szakmaistab h1{
    font-size: 50px;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
    margin-right: -500px;
    margin-left: -10px;
}
.sikerek p{
    font-size: 25px;
}
.sikerek{
    float: right;
    margin-right: -225px;
    text-align: right;
}
.sikerek h1{
    font-size: 50px;
    margin-right: auto;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
}
.altinfo h1{
    margin-left: -10px;
    font-size: 50px;
    line-height: 100px;
    border-bottom: 3px solid #1a1a1a;
}
.altinfo p{
    margin-left: -10px;
    font-size: 25px;
}
.altinfo{
    text-align: justify;
    text-justify: inter-word;
    margin-right: -225px;
}
.content a{
    color:#1a1a1a;
}
.modal.show .modal-dialog {
    margin-right: 1200px;
}
.modal-content{
    width: 1200px !important;
    height: 820px;
}
.modal-title{
    font-size: 30px;
}
.modal-body img{
    margin-left: -100px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    height: 627px;
    width: 500px !important;
    background: #BFB9BD;
}
#logomodal{
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 845px;
}
.modal-body p {
    font-size: 25px;
}
.modalinfo{
    float: right;
    margin-right: -100px;
}
.modal-header {
    border-bottom: 1px solid #1a1a1a !important;
}
.modal-footer {
    border-top: 1px solid #1a1a1a !important;
}
/*menü-------------------------------------------------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header ul:after, header:after, #main:after {
    clear: both;
    content: "";
    display: table;
}
header ul:before, header:before, #main:before {
    content: "";
    display: table;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo_area{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -160px;
}
.logo_area img{
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: -80px;
}

header {
    margin-top: 56px;
    background: #222629;
    padding: 0 7%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px rgba(68, 68, 68, 0.3);
    -webkit-perspective: 1555px;
    -moz-perspective: 1555px;
    perspective: 1555px;
}

#main {
    padding: 2.5em 7%;
}
#main .efx-info {
    width: 49%;
    float: left;
    padding: 2em 1em;
    font-weight: 700;
    border-radius: .2em;
}
#main .efx-info h1 {
    line-height: 1;
    display: inline-block;
    padding: .1em .2em;
    font-size: 5em;
    margin: 0;
    background: snow;
}
#main .efx-info p {
    margin: 0;
}
#main #efx-name {
    color: #86C232;
    font-weight: 900;
    border-bottom: 4px solid snow;
}
#main #efx-ease {
    color: #34495E;
}
#main .menu-chks {
    position: relative;
    line-height: 1;
    font-size: .9em;
    width: 45%;
    float: right;
}


#main .menu-chks input {
    margin-right: .5em;
}
#main .menu-chks input:checked + span {
    color: #86C232;
}
#main .menu-chks input:checked + span:before {
    content: "\f046";
}
#main .menu-chks span {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#main .menu-chks span:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 12px;
    top: 10px;
    color: #3b536b;
    content: "\f096";
    font-size: 1.4em;
}
#main .menu-chks label {
    color: #86C232;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin: .25em;
    background: #222629;
    padding: .8em 1.2em .8em 2.5em;
    border-radius: .4em;
}
#main .menu-chks label:hover {
    cursor: pointer;
}

header nav li {
    position: relative;
    display: inline-block;
    float: right;
}
header nav li:nth-child(1){
    float: left;
}
header nav li:nth-child(2){
    float: left;
}
header nav li:nth-child(3){
    float: left;
}
header nav li:nth-child(4){
    float: left;
}
header nav a {
    position: relative;
    z-index: 599;
    color: snow;
    background: #222629;
    text-decoration: none;
    display: block;
    padding: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
nav a i[class*="caret"] {
    color: #3b536b;
    margin-left: .15em;
}
header nav a:hover {
    color: #86C232;
}
header nav a:hover + .submenu {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}
header nav .eiob .submenu {
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear;
    -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear;
}
header nav .ln .submenu {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
header nav .ei .submenu {
    -webkit-transition: all 0.3s ease-in, opacity 0.2s linear;
    -moz-transition: all 0.3s ease-in, opacity 0.2s linear;
    transition: all 0.3s ease-in, opacity 0.2s linear;
}
header nav .eo .submenu {
    -webkit-transition: all 0.3s ease-out, opacity 0.2s linear;
    -moz-transition: all 0.3s ease-out, opacity 0.2s linear;
    transition: all 0.3s ease-out, opacity 0.2s linear;
}
header nav .submenu {
    display: block;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 499;
    width: 14em;
    top: 100%;
    left: 0;
    background: #222629;
    box-shadow: 0 2px 5px rgba(68, 68, 68, 0.3);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
header nav .submenu li > .submenu {
    top: 0;
    left: 100%;
}
header nav .submenu:hover {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}
header nav .submenu li {
    float: none;
    display: block;
}
header nav .submenu a {
    width: 100%;
    display: block;
    font-weight: 300;
    padding: 1.4em 2em;
}
header nav .submenu a:hover {
    color: snow;
    background: #86C232;
}
/*-------------FOOTER---------------*/
.footer-distributed{
    background-color: #222629;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left p{
    color:  #6B6E70;
    font-size: 14px;
    margin: 0;
}
.footer-distributed .footer-right a:hover{
    color: #86C232;
}
.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  snow;
    margin: 0 0 10px;
    padding: 0;
}
.footer-distributed p.footer-links a:hover{
    color: #86C232;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}
@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}
.tabellalogo{
    height: 25px;
    width: 25px;
}
.logotabella{
    float: right;
    height: 50px;
    width: 50px;
}
/*-------------INDEX---------------*/
.diy-slideshow {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: -1;
    max-height: 980px;
}
figure {
    position: absolute;
    opacity: 0;
    transition: 1s opacity;
}
figcaption {
    position: absolute;
    font-family: sans-serif;
    font-size: 0.8em;
    bottom: 0.75em;
    right: 0.35em;
    padding: 0.25em;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
figcaption a {
    color: #fff;
}
figure.show {
    opacity: 1;
    position: static;
    transition: 1s opacity;
}
.next,
.prev {
    color: #fff;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 50%;
    z-index: 2;
    font-size: 2em;
    margin-top: -0.75em;
    opacity: 0.3;
    user-select: none;
}
.next:hover,
.prev:hover {
    cursor: pointer;
    opacity: 1;
}
.next {
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.prev {
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


